.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    // height: 22vh;
    display: flex;
    width: 100%;
    // sombra
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    // centrar
    justify-content: space-around;
    align-items: flex-start;

    // border-top-left-radius: 50% 40px;
    // border-top-right-radius: 50% 40px;
    flex-direction: row;

    .column1 {
        width: 23%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;

        .cima {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 70%;
            padding-right: 1rem;
            border-right: 1px solid #fff;

            .logos {
                i {
                    img {
                        width: 2rem;
                        height: auto;
                    }


                }
            }
        }

        .baixo {
            display: none;
        }
    }

    .column3 {
        margin-top: 1rem;
        width: 54%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;

    }

    .column4 {
        margin-top: 1rem;
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .column3a {
        margin-top: 1rem;
        width: 54%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;

        .linksMobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            a {
                margin-bottom: .1rem;
            }
        }
    }

    .column4a {
        // margin-top: 1rem;
        width: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .baixo {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 1rem;
            margin-top: 2rem;
            border-right: 1px solid #fff;


            .logos {
                i {
                    margin-left: .1rem;

                    img {
                        width: 1.78rem;
                        height: auto;
                    }
                }
            }
        }
    }

    .column5 {
        display: flex;
        flex-direction: row-reverse;
        width: 54%;
        font-size: .8rem;
        margin-top: .4rem;
        margin-left: 2rem;
        margin-right: 2rem;

        .direita {
            margin-left: 2rem;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: flex-start;
                margin-top: 1.5rem;
                text-decoration: none;


                a {
                    margin-bottom: .5rem;
                    margin-top: .5rem;
                    text-decoration: none;

                    // hover
                    &:hover {
                        color: #910000;
                        text-decoration: none;
                    }
                }
            }

        }

        .esquerda {
            margin-left: 2rem;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-top: 1.5rem;
                text-decoration: none;

                a {
                    margin-bottom: .5rem;
                    margin-top: .5rem;
                    text-decoration: none;


                    &:hover {
                        color: #d40000;
                        text-decoration: none;

                    }
                }
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

@media(max-width: 1200px) {
    .footer {
        flex-direction: row;
        align-content: center;
        align-items: center;

        .column1 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            height: 100%;

            .cima {
                margin-top: 2rem;
                width: 100%;
                border-right: none;
                padding-right: 1rem;
                border-right: 1px solid #fff;

                h3 {
                    font-size: 1.18rem;
                }

                .logos {
                    i {
                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                display: none;

                .logos {
                    h3 {
                        font-size: 1.18rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column3 {
            width: 30%;
            // border-right: 1px solid #fff;


            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    margin-bottom: .1rem;
                }
            }
        }

        .column3a{
            display: flex;
        }

        .column4 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            display: none;

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                border-left: 1px solid #fff;


                .logos {
                    h3 {
                        font-size: 1.18rem;
                        // margin-bottom: 1rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column4a{
            display: flex;
        }

        .column5 {
            display: none;
        }
    }
}

@media(max-width: 600px) {
    .footer {
        flex-direction: row;

        .column1 {
            width: 55%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            border-right: 1px solid #fff;

            .cima {
                margin-top: 2rem;
                width: 100%;
                border-right: none;
                padding-right: 1rem;

                h3 {
                    font-size: 1.18rem;
                }

                .logos {
                    i {
                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                // border-right: 1px solid #fff;

                .logos {
                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column3 {
            width: 45%;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    margin-bottom: 1rem;
                }
            }
        }

        .column4 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;

            .baixo {
                display: none;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                border-left: 1px solid #fff;


                .logos {
                    h3 {
                        font-size: 1.18rem;
                        // margin-bottom: 1rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        // .column4a{
        //     display: none;
        // }
    }
}

@media(max-width: 800px) {
    .footer {
        flex-direction: row;

        .column1 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            border-right: 1px solid #fff;

            .cima {
                margin-top: 2rem;
                width: 100%;
                border-right: none;
                padding-right: 1rem;

                h3 {
                    font-size: 1.18rem;
                }

                .logos {
                    i {
                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                // border-right: 1px solid #fff;

                .logos {
                    h3 {
                        font-size: 1.18rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column3 {
            width: 45%;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    margin-bottom: 1rem;
                }
            }
        }

        .column3a {
            .linksMobile {
                a {
                    margin-bottom: 1rem;
                    font-size: 1rem;
                }
            }
        }

        .column4 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            display: none;

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                border-left: 1px solid #fff;


                .logos {
                    h3 {
                        font-size: 1.18rem;
                        // margin-bottom: 1rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column4a{
                display: none;
            }
    }
}

@media(max-width: 600px) {
    .footer {
        flex-direction: row;

        .column1 {
            width: 55%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            border-right: 1px solid #fff;

            .cima {
                margin-top: 2rem;
                width: 100%;
                border-right: none;
                padding-right: 1rem;

                h3 {
                    font-size: 1.18rem;
                }

                .logos {
                    i {
                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                // border-right: 1px solid #fff;

                .logos {
                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column3 {
            width: 45%;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    margin-bottom: 1rem;
                }
            }
        }

        .column4 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            display: none;
            height: 100%;

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                border-left: 1px solid #fff;


                .logos {
                    h3 {
                        font-size: 1.18rem;
                        // margin-bottom: 1rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}


@media(max-width: 480px) {
    .footer {
        flex-direction: row;

        .column1 {
            width: 65%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            border-right: 1px solid #fff;

            .cima {
                margin-top: 2rem;
                width: 100%;
                border-right: none;
                padding-right: 1rem;

                h3 {
                    font-size: 1.18rem;
                }

                .logos {
                    i {
                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                // border-right: 1px solid #fff;

                .logos {
                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }

        .column3 {
            width: 30%;

            .linksMobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;

                a {
                    margin-bottom: 1rem;
                }
            }
        }

        .column4 {
            width: 35%;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            height: 100%;
            display: none;

            .baixo {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 1rem;
                margin-top: 2rem;
                border-left: 1px solid #fff;


                .logos {
                    h3 {
                        font-size: 1.18rem;
                        // margin-bottom: 1rem;
                    }

                    i {
                        margin-left: .1rem;

                        img {
                            width: 1.78rem;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}