@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.ttf');
}

.navbar {
    height: 70vh;
    background-color: black;
    // padding: 2rem;
    display: flex;
    // arredondando parte de baixo do navbar
    border-bottom-left-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;
    // alinhando itens do navbar
    align-items: self-start;
    justify-content: center;
    // adicionando sombra
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    // adicionando transição
    transition: all .8s ease-in-out;
    z-index: 999999999;

    .conteudo {
        padding: 2rem;
        position: absolute;
        display: flex;
        width: 100%;
        z-index: 999;

        .logo {
            width: 100%;

            span {
                font-size: 2rem;
                color: rgb(255, 255, 255);
                font-weight: 900;
                font-family: 'roboto';
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            align-items: right;
            justify-content: right;
            width: 100%;
            // adicionando transição
            transition: all .8s ease-in-out;
            margin-top: 1rem;

            a {
                color: white;
                font-size: 1rem;
                text-decoration: none;
                padding-left: 1rem;
                padding-right: 1rem;
                // adicionando transição
                transition: all .8s ease-in-out;

                // adicionando hover
                &:hover {
                    font-size: 1.1rem;
                    color: #ff0000;
                }
            }
        }

        .linksMobile{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 15rem;
            margin-left: 2.5rem;
            width: 100%;
            height: 100vh;
            // adicionando transição
            transition: all .8s ease-in-out;

            a {
                color: white;
                font-size: 2rem;
                text-decoration: none;
                // adicionando transição
                transition: all .8s ease-in-out;

                // adicionando hover
                &:hover {
                    font-size: 2.1rem;
                    color: #ff0000;
                }
            }
        }

        .menu {
            flex-direction: row;
            align-items: flex-start;
            justify-content: right;
            // adicionando transição
            transition: all .8s ease-in-out;
            margin-top: 1rem;
            display: none;
            z-index: 9999999;

            .menuIcon {
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .menuIconActive {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: absolute;
                    right: 6%;

                    i {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: 2.3rem;
                    }
                }

                .menuIconInactive {
                    display: none;
                }
            }
        }

    }

    .background {
        position: relative;
        width: 100%;
        height: 100%;
        // cortando tudo que passar do tamanho
        overflow: hidden;
        border-bottom-left-radius: 50% 40px;
        border-bottom-right-radius: 50% 40px;

        .imagem1 {
            position: absolute;
            left: 32%;
            top: 25%;

            img {
                width: 50px;
                height: auto;
                opacity: 0.1;
                filter: blur(1.5px);
            }
        }

        .imagem2 {
            position: absolute;
            right: 10%;
            top: 30%;

            img {
                width: 70px !important;
                height: auto;
                opacity: 0.1;
                filter: blur(1.5px);
            }
        }

        .imagem3 {
            position: absolute;
            left: 65%;
            bottom: 5%;

            img {
                width: 55px;
                height: auto;
                opacity: 0.2;
                rotate: 15deg;
                filter: blur(1.5px);
            }
        }

        .imagem4 {
            position: absolute;
            top: 45%;
            right: 45%;

            img {
                width: 50px;
                height: auto;
                opacity: 0.05;
                filter: blur(1.5px);
            }
        }

        .imagem5 {
            position: absolute;
            left: 25%;
            bottom: 25%;

            img {
                width: 65px;
                height: auto;
                opacity: 0.2;
                filter: blur(1.5px);
            }
        }

        .imagem6 {
            position: absolute;
            right: 10%;
            bottom: 15%;

            img {
                width: 65px;
                height: auto;
                opacity: 0.2;
                filter: blur(1.5px);

            }
        }

        .imagem7 {
            position: absolute;
            left: 43%;
            bottom: 15%;

            img {
                width: 55px !important;
                height: auto;
                opacity: 0.1;
                filter: blur(1.5px);

            }
        }

        .imagem8 {
            position: absolute;
            top: 23%;
            right: 32%;

            img {
                width: 55px !important;
                height: auto;
                opacity: 0.1;
                filter: blur(1.5px);

            }
        }


    }

}

.none {
    display: none;
}


// para mobile

@media(max-width: 980px) {
    .navbar {
        .conteudo {
            .links {
                display: none;
            }

            .menu {
                display: flex;
            }
        }
    }
}

@media(max-width:900px) {
    .navbar {
        .background {
            .imagem1 {
                left: 15%;
                top: 25%;
            }

            .imagem2 {
                right: 10%;
                top: 30%;
            }

            .imagem3 {
                left: 40%;
                bottom: -5%;
            }

            .imagem4 {
                top: 15%;
                right: 40%;
            }

            .imagem5 {
                left: 2%;
                bottom: 25%;
                opacity: 0;
            }

            .imagem6 {
                right: 10%;
                bottom: 15%;
            }

            .imagem7 {
                left: 3%;
                bottom: 15%;
            }

            .imagem8 {
                top: 55%;
                right: 45%;
            }

        }
    }
}

@media(max-width: 600px) {
    .navbar {
        .conteudo {
            .logo {
                padding-top: 1rem;

                span {
                    font-size: 1.5rem;
                }
            }
        }

        .background {
            .imagem1 {
                left: 15%;
                top: 25%;
            }

            .imagem2 {
                right: 10%;
                top: 30%;
            }

            .imagem3 {
                left: 40%;
                bottom: -5%;
            }

            .imagem4 {
                top: 0%;
                right: 45%;
                opacity: 0;
            }

            .imagem5 {
                left: 2%;
                bottom: 25%;
                opacity: 0;
            }

            .imagem6 {
                right: 10%;
                bottom: 15%;
            }

            .imagem7 {
                left: 3%;
                bottom: 15%;
            }

            .imagem8 {
                top: 55%;
                right: 45%;
            }
        }
    }
}